@model ReservaTutorias.Frontend.Models.Tema

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <h3>Debe confirmar para eliminar este tema</h3>
        <div>
            <h4>Eliminar tema</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdTema)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdTema)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreTema)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreTema)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Materia.IdMateria)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Materia.NombreMateria)
                </dd>
            </dl>
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button type="submit" class="btn btn-danger" name="id" value="@Model.IdTema">Eliminar</button> |
                <a asp-action="Index">Volver</a>
            </form>
        </div>
    </div>
</div>


