@model IEnumerable<ReservaTutorias.Frontend.Models.Tema>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreTema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTema)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdTema }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.IdTema }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdTema })
            </td>
        </tr>
}
    </tbody>
</table>
