@model IEnumerable<ReservaTutorias.Frontend.Models.ModelViews.ViewHorario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-10">

        <h1>Mis horarios</h1>

        <p>
            <a asp-action="Create">Nuevo horario</a>
        </p>
        <table class="table datatable_init">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Tema
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Horario.FechaHora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Horario.LimiteEstudiantes)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Horario.IdHorario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tema.NombreTema)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Horario.FechaHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Horario.LimiteEstudiantes)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-circle btn-sm" href="@Url.Action("Edit","Horario", new { id = item.Horario.IdHorario })">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a class="btn btn-info btn-circle btn-sm" href="@Url.Action("Details", "Horario", new { id = item.Horario.IdHorario })">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action("Delete", "Horario", new { id = item.Horario.IdHorario })">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
